@import 'normalize';
@import "variables";
@import 'fonts';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: unset;
  text-decoration: none;
}

input {
  background: inherit;
  border: unset;
  outline: none;
}
