:root {
  --border-radius-base: 10px;
  --border-radius-sub-base: 5px;

  --ui-secondary-color: #888888;
  --ui-accent-color: #19647E;
  --ui-accent-2-color: #19647E;
  --ui-box-shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="white"] {
  --ui-main-color: #F2F2F2;
  --ui-sub-main-color: #FBFBFB;
  --ui-primary-color: #36343B;
}

[data-theme="dark"] {
  --ui-main-color: #141218;
  --ui-sub-main-color: #211F26;
  --ui-primary-color: #F6F6F6;
}